@charset "UTF-8";
@font-face {
  font-family: "Blacks Italic";
  src: url("intro-black-italic.woff") format("woff");
}
@font-face {
  font-family: "Italic";
  src: url("italic.woff") format("woff");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #3D2020;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ABA0A0;
}

.body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
}
.body .navbar {
  width: 100%;
  max-width: 1504px;
  padding: 4px;
  background-image: linear-gradient(to right, #ABA0A0, #454040);
  justify-content: center;
  overflow: hidden;
}
.body .navbar .container {
  display: flex;
  width: 100%;
  max-width: 1504px;
}
.body .navbar .container .logo {
  margin-left: 15px;
}
.body .navbar .container .searching {
  margin-left: 90px;
  padding: 5px;
}
.body .navbar .container .searching .search {
  font-size: 30px;
  font-family: "Blacks Italic";
}
.body .navbar1 {
  width: 100%;
  max-width: 1504px;
  padding: 4px;
  justify-content: center;
  background-color: #3D2020;
}
.body .navbar1 .imgburger {
  width: 30px;
  height: 30px;
  display: none;
}
.body .navbar1 .container1 {
  display: flex;
  width: 100%;
  max-width: 1504px;
}
.body .navbar1 .container1 .menu1 {
  display: flex;
  gap: 20px;
  color: white;
  margin-left: 5px;
}
.body .navbar1 .container1 .menu1 .working {
  font-size: 14px;
  font-family: "Blacks Italic";
  cursor: pointer;
}
.body .navbar1 .container1 .menu1 .working:hover {
  font-size: 15px;
  color: #DAC0C0;
}
.body .navbar1 .container1 .menu1 .auction {
  font-size: 14px;
  font-family: "Blacks Italic";
  cursor: pointer;
}
.body .navbar1 .container1 .menu1 .auction:hover {
  font-size: 15px;
  color: #DAC0C0;
}
.body .navbar1 .container1 .menu1 .hints {
  font-size: 14px;
  font-family: "Blacks Italic";
  cursor: pointer;
}
.body .navbar1 .container1 .menu1 .hints:hover {
  font-size: 15px;
  color: #DAC0C0;
}
.body .banner {
  border: 1px solid black;
  width: 100%;
  max-width: 1504px;
  height: 100%;
  margin: 0px;
}
.body .banner .img {
  border: none;
  width: 100%;
  max-width: 1504px;
  height: 100%;
}
.body .registr {
  text-align: center;
  color: white;
  font-family: "Blacks Italic";
  font-size: 20px;
  background-color: #3D2020;
  padding: 4px;
}
.body .areareg {
  background-color: black;
  width: 100%;
  max-width: 1504px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.body .areareg .form {
  margin-top: 20px;
}
.body .areareg .form .name {
  padding: 5px;
  width: 100%;
  max-width: 300px;
  background-color: #3D2020;
  color: white;
  font-family: "Blacks Italic";
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 0px 0px 10px;
}
.body .areareg .form .button {
  margin: 10px 0px 0px 10px;
  background-color: #DAC0C0;
  border-radius: 5px;
  color: white;
  font-family: "Blacks Italic";
}
.body .areareg .rate .rates {
  font-size: 20px;
  font-family: "Blacks Italic";
  color: white;
  margin: 15px 0px 0px 200px;
}
.body .areareg .rate .bloc {
  display: flex;
  margin: 10px 0px 0px 55px;
  gap: 30px;
}
.body .areareg .rate .bloc .basic {
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-color: #3D2020;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px 30px;
}
.body .areareg .rate .bloc .basic .bluetext {
  font-size: 17px;
  font-family: "Blacks Italic";
  color: blue;
}
.body .areareg .rate .bloc .basic .text {
  font-size: 13px;
  font-family: "Italic";
  color: white;
}
.body .areareg .rate .bloc .premier {
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-color: #3D2020;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0px 0px 0px;
}
.body .areareg .rate .bloc .premier .bluetext {
  font-size: 17px;
  font-family: "Blacks Italic";
  color: blue;
}
.body .areareg .rate .bloc .premier .text {
  font-size: 13px;
  font-family: "Italic";
  color: white;
}
.body .areareg .payment {
  margin: 20px 0px 0px 10%;
}
.body .areareg .payment .text {
  font-size: 20px;
  font-family: "Blacks Italic";
  color: white;
}
.body .areareg .payment .credit {
  display: flex;
  padding: 2px;
  gap: 38px;
  margin-top: 10px;
}
.body .areareg .payment .credit .mastercard {
  width: 100%;
  max-width: 100px;
  height: 100%;
}
.body .areareg .payment .credit .paypal {
  width: 100%;
  max-width: 100px;
  height: 100%;
}
.body .areareg .payment .credit .googlepay {
  width: 100%;
  max-width: 100px;
  height: 100%;
}
.body .areareg .adresform .adres {
  color: white;
  font-size: 18px;
  font-family: "Blacks Italic";
  margin: 50px 0px 10px 20%;
}
.body .areareg .adresform .addres {
  display: flex;
  margin: 10px 0px 0px 10px;
  gap: 10px;
}
.body .areareg .adresform .country {
  display: flex;
  margin: 10px 0px 0px 10px;
  gap: 10px;
}
.body .areareg .adresform .city {
  display: flex;
  margin: 10px 0px 0px 10px;
  gap: 10px;
}
.body .areareg .adresform .name {
  padding: 5px;
  width: 100%;
  max-width: 200px;
  height: 100%;
  background-color: #3D2020;
  color: white;
  font-family: "Blacks Italic";
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px 0px 0px 10px;
}
.body .areareg .adresform .button {
  margin: 10px 0px 0px 33%;
  background-color: #DAC0C0;
  border-radius: 5px;
  color: white;
  font-family: "Blacks Italic";
  width: 100%;
  max-width: 150px;
  padding: 2px;
}
.body .questions {
  background-color: black;
  width: 100%;
  max-width: 1504px;
  height: 300px;
  margin-top: 30px;
}
.body .questions .name {
  text-align: center;
  align-items: center;
  color: white;
  font-family: "Blacks Italic";
  font-size: 20px;
  padding: 5px;
}
.body .questions .questions_answers .answers1 {
  margin-top: 3px;
  align-items: flex-start;
  color: white;
  font-family: "Blacks Italic";
  font-size: 15px;
  padding: 15px;
  border-top: 0.5px solid white;
  border-bottom: 0.5px solid white;
  cursor: pointer;
}
.body .questions .questions_answers .content {
  font-size: 14px;
  font-family: "Italic";
  color: white;
  padding: 10px;
  margin: 4px 5px 4px 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: none;
}
.body .footer {
  display: flex;
  background-color: black;
  border: 1px solid black;
  width: 100%;
  max-width: 1504px;
  height: 300px;
  gap: 90px;
  flex-wrap: wrap;
}
.body .footer .maps .text {
  font-size: 17px;
  font-family: "Blacks Italic";
  color: white;
  padding: 2px;
  margin-left: 10px;
}
.body .footer .maps .map {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  margin-left: 25px;
  margin-top: 10px;
}
.body .footer .messendger {
  display: flex;
  margin-left: 25px;
  gap: 10px;
}
.body .footer .messendger .telegram {
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  margin-top: 6px;
}
.body .footer .messendger .instagram {
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  margin-top: 6px;
}
.body .footer .messendger .discord {
  width: 100%;
  max-width: 40px;
  height: 100%;
  max-height: 40px;
  margin-top: 6px;
}
.body .footer .сontacts {
  background-color: #3D2020;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 210px;
  border: 1px solid black;
}
.body .footer .сontacts .img {
  width: 100%;
  max-width: 170px;
  height: 100%;
  max-height: 80px;
  padding: 8px;
}
.body .footer .сontacts .text {
  font-family: "Blacks Italic";
  color: white;
  padding: 8px;
  font-size: 12px;
  text-align: center;
}
.body .footer .administrators {
  margin-left: 10px;
}
.body .footer .administrators .text1 {
  font-family: "Blacks Italic";
  color: white;
  font-size: 16px;
}
.body .footer .administrators .text2 {
  font-family: "Blacks Italic";
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

@media screen and (max-width: 700px) {
  .body .navbar1 {
    background-color: black;
  }
  .body .navbar1 .imgburger {
    display: flex;
  }
  .body .navbar1 .container1 {
    width: 150px;
    display: none;
    background-color: black;
  }
  .body .navbar1 .container1 .menu1 {
    flex-direction: column;
  }
  .body .navbar1 .container1 .menu1 .working {
    font-size: 14px;
    font-family: "Blacks Italic";
    cursor: pointer;
  }
  .body .navbar1 .container1 .menu1 .working:hover {
    font-size: 15px;
    color: #DAC0C0;
  }
  .body .navbar1 .container1 .menu1 .auction {
    font-size: 14px;
    font-family: "Blacks Italic";
    cursor: pointer;
  }
  .body .navbar1 .container1 .menu1 .auction:hover {
    font-size: 15px;
    color: #DAC0C0;
  }
  .body .navbar1 .container1 .menu1 .hints {
    font-size: 14px;
    font-family: "Blacks Italic";
    cursor: pointer;
  }
  .body .navbar1 .container1 .menu1 .hints:hover {
    font-size: 15px;
    color: #DAC0C0;
  }
  .body .areareg .adresform {
    margin-right: 20px;
  }
  .body .rate {
    margin-left: -60px;
    gap: 0;
  }
  .body .rate .rates {
    margin-left: -134px;
  }
  .body .rate .bloc {
    gap: 0;
  }
  .body .rate .bloc .basic {
    margin-left: 5px;
  }
  .body .footer {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
  }
  .body .footer .maps .text {
    display: none;
  }
  .body .footer .maps .map {
    display: none;
  }
  .body .footer .maps .messendger {
    flex-direction: column;
    gap: 20px;
  }
  .body .footer .сontacts {
    margin-left: 0;
  }
  .body .footer .administrators {
    display: none;
  }
}/*# sourceMappingURL=stylereg.css.map */